body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  width: 500px;
  height: 200px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4),
              inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
  transition: 0.4s;
}

label:after {
  content: "";
  width: 180px;
  height: 180px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  transition: 0.4s;
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: #242424;
}

input:checked + label:after {
  left: 490px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

label:active:after {
  width: 260px;
}


label i {
  position: absolute;
  top: 60px;
  font-size: 70px;
  transition: 0.4s;
}

label .sun {
  left: 50px;
  color: #f39c12;
  opacity: 1;
}

label .moon {
  right: 60px;
  color: #f1c40f;
  opacity: 0;
}

input:checked + label .sun {
  opacity: 0;
  transform: translateY(-30px);
}

input:checked + label .moon {
  opacity: 1;
  transform: translateY(0);
}

.background {
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transition: background 0.4s;
}

input:checked + label + .background {
  background: #242424;
}
